#box{
    border: 2px solid red;
    width: 500px;
    height: 500px;
    background: goldenrod;
    clip-path: polygon(50% 0%,100% 50%,50% 100%,0% 50%);

}
img{
    /* clip-path: ellipse(35%  50% at 50% 50%); */
    /* clip-path: circle(35% at 50% 50%); */
    /* clip-path: inset(2% 45% 50% 35%); */
    clip-path: polygon(50% 0%,0% 100%,100% 100%);
    /* site for different shapes- https://benneettfeely.com  */
}