div{
    width: 150px;
    height: 150px;
    display: inline-block;
}
.one{
    background: red;
    transform: rotateX(80deg);
}
.two{
    background: blue;
    transform: rotateZ(45deg);
}
.three{
    background: green;
    transform: rotate(76deg);
}
