.box{
    border: 1px solid black;
    width: 32%;
    height: auto;
    float: left;
    margin: 20px;
    box-sizing: border-box;
    padding: 10px;
}
.box img{
    width: 100%;
    height: 300px;
    /* object-fit: contain; */
    object-fit: cover;
    /* object-fit: fill; */
    /* object-fit: scale-down; */
    object-position: right;
    /* object-position: 30px 40px; */
    
}