/* #test{
    width: 200px;
    background: gray;
    border: 2px solid black;
    color: aqua;
    aspect-ratio: 1/1;
    overflow: auto;
} */
img{
    width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
@media screen and (max-width: 500px) {
    img{
        width: 100%;
    }
}