*{
    margin: 0;
    padding: 0;
}
header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: aquamarine;
}
section{
    height: 90vh;
    border: 1px solid grey ;
    padding: 5px;
    margin: 30px;
    background-color: lightgray;
    box-sizing: border-box;
}
footer{
    text-align: center;
    padding: 5px;
    margin:20px;
    background-color: aquamarine;
}