.box{
    border: 2px solid currentColor;
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 0 auto;
    color: blue;
}
h2{
    border-bottom: 2px solid currentColor;
}
.box a{
    /* color: blue;
    background: currentColor; */
    color: currentColor;
    background: red;
}