/* external stylesheet  */
/* css rule */
/* selector */
/* declaration block */
/* declaration */
/* property */
/* value */
/* element selector */
h1 {
    color: blue;
    font-size: 40px;
}
h2 {
    color: aqua;
    font-size: 30px;
}
p {
    color: grey;
}