body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px;
}
span{
    background-image: linear-gradient(green, black, red);
    font-size: 21px;
    color: red;
    line-height: 50px;
    border: 2px solid rgb(12, 198, 223);
    border-radius: 5px;
    -webkit-box-decoration-break: clone;
    padding: 10px;
}