*{
    margin: 0;
    padding: 0;
}
.bg-color{
    background-color: lightgray;
    border: 2px solid black;
}
h1{
    color: red;
}
.first{
    background-color: aqua;
}
#second{
    background-color: chartreuse;
}
p{
    color: teal;
}