/* type Scale grab css */
/* we can use fontpairs for more google font combination */
*,
::before,
::after {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Aclonica:400|Spectral:400");

html {
  font-size: 100%;
} /*16px*/
:root {
  /* colors */
  /* https://www.happyhues.co/ */
  /* https://coolors.co/ */
  /* primary */

  --primary-1: hsl(202, 58%, 7%);
  --primary-2: hsl(202, 57%, 12%);
  --primary-3: hsl(204, 57%, 16%);
  --primary-4: hsl(203, 58%, 21%);
  --primary-5: hsl(203, 58%, 25%);
  --primary-6: hsl(203, 31%, 38%);
  --primary-7: hsl(203, 19%, 51%);
  --primary-8: hsl(202, 19%, 65%);
  --primary-9: hsl(205, 19%, 78%);
  --primary-10: hsl(207, 19%, 91%);
  /* grey */
  --grey-1: hsl(221, 39%, 11%);
  --grey-2: hsl(215, 28%, 17%);
  --grey-3: hsl(217, 19%, 27%);
  --grey-4: hsl(215, 14%, 34%);
  --grey-5: hsl(220, 9%, 46%);
  --grey-6: hsl(218, 11%, 65%);
  --grey-7: hsl(216, 12%, 84%);
  --grey-8: hsl(220, 13%, 91%);
  --grey-9: hsl(220, 14%, 96%);
  --grey-10: hsl(210, 20%, 98%);
  /* other colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts */
  --headingFont: "Spectral", serif;
  --bodyFont: "Aclonica", sans-serif;
  --smallFont: 0.7rem;

  /* rest var */
  --backgroundColor: var(--grey-10);
  --textColor: var(--grey-1);
  --radius: 0.25rem;
  --spacing: 1px;
  --transition: all 0.3s linear;
  --max-width: 1170px;
  --fixed-width: 600px;

  /* box-shadow */
  --shadow-1: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallFont);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.container {
  width: 40vw;
  border: 5px solid var(--primary-5);
  border-radius: var(--radius);
  max-width: var(--max-width);
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-5);
  border: transparent;
  border-radius: var(--radius);
  letter-spacing: var(--spacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-7);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-5);
  background-color: var(--primary-2);
}
.btn-hipster:hover {
  color: var(--primary-8);
  background: var(--primary-7);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin: 1rem;
  border: transparent;
  border-radius: var(--radius);
}
.danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */
.form {
  width: 90vw;
  max-width: var(--max-width);
  background: var(--white);
  border-radius: var(--radius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--smallFont);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-2);
}
.form-row {
  margin-bottom: 1rem;
}
.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-4);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

/* alert */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-4);
  border-radius: 50%;
  border-top-color: var(--primary-5);
  animation: spinner 0.6s linear infinite;
  margin: 2rem auto;
}

/* title */
.title {
  text-align: center;
}
.title-underline {
  background: var(--primary-5);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}
/* 
===================
Grocery
===================
 */
.section-center{
  background: var(--white);
  border-radius: var(--radius);
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  padding: 1rem;
  width: 90vw;
  margin: 0 auto;
  margin-top: 10rem;
  max-width: var(--fixed-width);
}
.section-center:hover{
box-shadow: var(--shadow-3);
}
.alert{
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}
.grocery-form h4{
  text-align: center;
  margin-bottom: 1.5rem;
}
.grocery-form .form-row{
  display: flex;
}
.grocery-form .form-input{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.submit-btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 100px;
}

.grocery-container{
  margin-top: 2rem;
}
.grocery-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
  color: var(--grey-3);
}
.grocery-item:hover{
  color: var(--grey-5);
  background: var(--grey-8);
}
.edit-btn{
  background: transparent;
  border-color:transparent;
  cursor: pointer;
  font-size: 0.7rem;
}
.edit-btn{
  color: var(--green-dark);

}
.delete-btn{
  color: var(--red-dark);
}
.clear-btn{
  color: var(--red-dark);
  width: 100%;
  margin-top: 1rem;
  cursor: pointer;
  text-transform: capitalize;
  background: transparent;
  border-color: transparent;
  letter-spacing: var(--spacing);

}