body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: 19px;
    line-height: 25px;
}
img[alt]{
    border: 3px solid red;
}
input[type="password"]{
    border: 3px solid blue;
}
a[target]{
    color:red;
}