body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.container{
    width: 80%;
    height: auto;
    margin: 45px auto 0;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, [col-start]1fr[col-end]);
    grid-template-rows: [header-start]120px[header-end menu-start] 60px[menu-end box-start] 100px[box-end content-start] 400px[content-end footer-start] 50px[footer-end];
}
.items1{
    background: orange;
    grid-column: col-start 1 / col-end 3;
    grid-row: header-start / header-end;
}
.items2{
    background: lightgreen;
    grid-column: col-start 1 / col-end 3;
    grid-row: menu-start / menu-end;
}
.items3{
    background: purple;
    
}
.items4{
    background:pink;
}
.items5{
    background: blue;
    grid-row:  box-start / content-end ;
}
.items6{
    background: rgb(71, 150, 71);
    grid-column: col-start 1 / col-end 2;
    grid-row: content-start/ content-end;
}
.items7{
    background: orange;
    grid-row: footer-start / footer-end;
    grid-column: 1 / -1;
}