body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{padding: 0 0 0 45px;}
.container{
    background: lightgrey;
    margin: 50px;
    padding: 0px;
    border: 3px solid black;
    
    display: flex;
    flex-direction: column;
}
.box{
    font-size: 20px;
    text-align: center;
    color: aqua;
    margin: 0px;
    height: 100px;
    padding: 0px;
}
.box1{
    background: #008000;
}
.box2{
    background: rgb(35, 198, 204);
    display: flex;
}
.box2 > .boxes{
    background: firebrick;
    flex-grow: 1;
    margin: 5px;
}
.box3{
    background: rgb(217, 240, 13);
}