#base{
    width: 200px;
    height: 200px;
    background: grey;
    margin: 100px;
}
#box{
    width: 200px;
    height: 200px;
    background: orange;
    /* transform: perspective(200px) rotateX(45deg) ; */
    /* transform: perspective(800px) rotateY(45deg) ; */
    /* transform: perspective(800px) rotateY(60deg) translateZ(250px); */
    /* transform: perspective(800px) rotateY(60deg) translate3D(50px, 100px, 200px); */
    /* transform: perspective(800px) scaleZ(4) rotateX(60deg); */
    transform: perspective(800px) scale3D(1,1,3) rotateX(60deg);
}